.icon {
  width: fit-content;
  cursor: pointer;
  margin-left: 20px;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.sun, .moon {
  opacity: 0.7;
}

.sun:hover {
  opacity: 1;
}

.moon:hover {
  opacity: 1;
}

.wrapper {
  position: sticky;
  top: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 100000;
  margin: 0;
  background-color: var(--nav-background);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link_wrapper h2 {
  color: var(--h2);
  margin-left: 15px;
}

.header_link_image {
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .link_wrapper h2 {
    font-size: 16px;
  }
}

