.card {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--card);
  padding: 32px;
  border-radius: 8px;
  text-decoration: none;
}

.card:hover .post_title {
  color: var(--purple-blue);
}

.card:hover .icon {
  display: block;
}

.container {
  max-width: 768px;
  margin: auto;
  margin-top: 10px;
  overflow: auto;
  padding: 0 10px;
}

.card-page {
  padding: 15px 30px;
}

.posts {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}

.post_title {
  margin: 10px 0;
  color: var(--text);
  font-size: 18px;
}

.post_body p {
  color: var(--text);
  font-size: calc(1.1875rem);
  text-wrap: pretty;
  margin-bottom: 1.5rem;
}

.post_body img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 900px) {
  .content {
    display: grid;
    grid-template-rows: auto 1fr auto !important;
    grid-template-columns: unset !important;
  }

  .posts {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 700px) {
  .content {
    display: grid;
    grid-template-rows: auto 1fr auto !important;
    grid-template-columns: unset !important;
  }

  .posts {
    grid-template-columns: 1fr;
  }

  .post_body pre {
    overflow: hidden;
    overflow-x: scroll;
  }

  .post_body p {
    text-align: unset;
  }
}

@media (max-width: 400px) {
  .post_title {
    font-size: 14px;
  }

  .post_excerpt {
    font-size: 12px;
  }

  .post_read_more {
    font-size: 13px;
  }

  .post_date {
    font-size: 13px;
  }
}

.post_category {
  margin: 10px 0;
  font-size: 20px;
  padding: 3px;
  color: var(--text);
}

.post_category_2 {
  margin: 10px 0;
  font-size: 20px;
  padding: 3px;
  color: var(--black);
}

.post_date {
  color: var(--h3);
  margin-bottom: 20px;
}

.post_image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.post_image img {
  width:  100%;
  height: 150px;
  object-fit: cover;
}

.post_image_big {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.post_image_big img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.post_excerpt {
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--text);
}

.post_read_more {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--text);
}

.post_read_more span {
  font-size: 17px;
}

.icon {
  display: none;
  transition: .3s ease;
  margin-left: 5px;
}

.back_button {
  align-items: center;
  appearance: none;
  background-color: var(--black);
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--light-white);
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 37px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

.category_title_container {
  font-size: 20px;
  margin: 10px auto;
  text-align: left;
  border-bottom: 3px solid var(--black);
  padding-bottom: 10px;
}

.category_title_container div {
  display: flex;
  justify-content: flex-start;
  color: var(--black);
  font-weight: bold;
}

.shareIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shareTitle {
  margin-right: 10px;
  font-weight: 800;
}

@media only screen and (max-width: 768px) {
  .post_image_big img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.post_body ul {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-inline-start: 1.625em;
}

.post_body ul > li {
  padding-inline-start: .375em
}

.post_body h2 {
  color: var(--text);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}
