.rating {
  display: flex;
  list-style-type: none;
}
.rating li {
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid var(--black);
  border-radius: 50%;
  margin-left: 3px;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.rating li:hover {
  transform: scale(1.1);
}
.active {
  background-color: var(--black) !important;
}
