.card {
  /* margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--card);
  padding: 32px;
  border-radius: 8px;
  text-decoration: none; */
}

.post_title {
  margin: 10px 0;
  color: var(--text);
  font-size: 1.875rem;
}

.post_date {
  color: var(--h3);
  margin-bottom: 20px;
}

.link {
  appearance: none;
  outline: none;
  border: none;
  margin: 3px;
  min-height: 30px;
  color: var(--text);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  position: relative;
  display: inline-block;
  background-color: var(--link-button);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 3px 12px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  transition: transform .3s ease-in;
}
