.wrapper {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 50px;
}
.name {
    color: var(--light-white);
    margin-right: 10px;
}
.icons {
    display: flex;
    cursor: pointer;
}
.icon {
    margin-left: 10px;
}