.wrapper {
    position: sticky;
    top: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 100000;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}