.wrapper {
    position: sticky;
    top: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 100000;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link_wrapper h2 {
    color: white;
    margin-left: 15px;
}
.header_link_image {
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .link_wrapper h2 {
        font-size: 16px;
    }
}