@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

:root {
    --red: #be1a4b;
    --dark-white: #DFD8CA;
    --light-white: #fcf7ef;
    --green: #105652;
    --orange: #ca7f4c;
    --light-green: #84bd63;
    --purple: #7a2f8f;
    --golden: #dbb54b;
    --light-blue: #7f93c2;
    --black: #323846;
    --mobile-width: 576px;
    --tablet-width: 768px;
    --desktop-width: 992px;
    --desktop-large-width: 1200px;
}

body {
    font-family: 'Poppins', sans-serif;
}
.main_container {
    min-height: 100vh;
    margin: 0;
    display: grid;
    /* grid-template-rows: 12% 8% 70% 10%; */
    grid-template-rows: auto 1fr auto;
}

p {
    margin: 15px 0;
    line-height: 1.8;
}
  
a {
    text-decoration: none;
    color: rgb(41, 33, 33);
}
  
header {
    background: var(--black);
    padding: 5px;
    margin-bottom: 30px;
}

ul {
    margin-left: 10px;
}
  
header a {
    color: var(--light-white);
}

.orangeCategory {
    background-color: var(--orange);
}

.lightGreenCategory {
    background-color: var(--light-green);
}

.lightBlueCategory {
    background-color: var(--light-blue);
}

.purpleCategory {
    background-color: var(--purple);
}

.goldenCategory {
    background-color: var(--golden);
}
.photo_contain {
    object-fit: contain;
}

[data-testid="carousel"]:first-child {
    display: flex;
    align-items: center;
    cursor: pointer;
}
