@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@1,200&family=Rubik:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif
}

:root {
  --red: #be1a4b;
  --dark-white: #DFD8CA;
  --light-white: #fcf7ef;
  --green: #105652;
  --orange: #ca7f4c;
  --light-green: #84bd63;
  --purple: #7a2f8f;
  --golden: #dbb54b;
  --light-blue: #7f93c2;
  --black: #323846;
  --mobile-width: 576px;
  --tablet-width: 768px;
  --desktop-width: 992px;
  --desktop-large-width: 1200px;
}

.main_container {
  min-height: 100vh;
  margin: 0;
  display: grid;
  /* grid-template-rows: 12% 8% 70% 10%; */
  grid-template-rows: auto 1fr auto;
}

p {
  margin: 15px 0;
  line-height: 1.8;
  text-align: justify;
  font-size: 17px;
}
  
a {
  text-decoration: none;
  color: rgb(65, 123, 216);
}
  
header {
  background: var(--black);
  padding: 5px;
  margin-bottom: 30px;
}

ul {
  margin-left: 10px;
}
  
header a {
  color: var(--light-white);
}

.orangeCategory {
  background-color: var(--orange);
}

.lightGreenCategory {
  background-color: var(--light-green);
}

.lightBlueCategory {
  background-color: var(--light-blue);
}

.purpleCategory {
  background-color: var(--purple);
}

.goldenCategory {
  background-color: var(--golden);
}
.photo_contain {
  object-fit: contain;
}

[data-testid="carousel"]:first-child {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.margin-left-5 {
  margin-left: 5px;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

.prose .anchor {
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose pre code {
  color: rgb(31 41 55);
  padding: 0px;
  border: initial;
}

.prose img {
  margin-top: 0;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: wheat;
}

.token.punctuation {
  color: wheat;
  font-family: 'Lato', sans-serif;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #22c55e;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a855f7;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #eab308;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #3b82f6;
}

.token.function,
.token.class-name {
  color: #d946ef;
}

.token.regex,
.token.important,
.token.variable {
  color: #eab308;
}
.token.punctuation {
  color: rgb(248, 248, 248);
}
.token.parameter {
  color: #47a3f3;
}
code[class*='language-'],
pre[class*='language-'] {
  color: rgb(228, 177, 84);
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-width: 1px;
  border-color: rgb(234 234 234/var(--tw-border-opacity));
  background-color: rgb(249 250 251/var(--tw-bg-opacity))
}

.rehype-code-title {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 700;
  color: rgb(31 41 55);
  background-color: rgb(229 231 235);
  border-bottom-width: 0px;
  border-color: rgb(229 231 235);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rehype-code-title + pre {
  margin-top: 0px;
  border-radius: 0px;
}

.highlight-line {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-color: rgb(59 130 246);
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}
