@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

:root {
    --red: #B91646;
    --dark-white: #DFD8CA;
    --light-white: #FBF3E4;
    --green: #105652;
    --orange: #F58840;
    --light-green: #9AE66E;
    --purple: #753188;
    --golden: #FFCE45;
    --light-blue: #94B3FD;
}

.orangeCategory {
    background-color: var(--orange);
}
.lightGreenCategory {
    background-color: var(--light-green);
}
.lightBlueCategory {
    background-color: var(--light-blue);
}
.purpleCategory {
    background-color: var(--purple);
}
.goldenCategory {
    background-color: var(--golden);
}
body {
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 15px 0;
    line-height: 1.8;
}
  
a {
    text-decoration: none;
    color: rgb(41, 33, 33);
}
  
header {
    background: var(--dark-white);
    color: var(--green);
    padding: 5px;
    margin-bottom: 30px;
}

ul {
    margin-left: 10px;
}
  
header a {
    color: var(--green);
}

.container {
    max-width: 768px;
    margin: auto;
    overflow: auto;
    padding: 0 10px;
}
  
.btn {
    display: inline-block;
    background: steelblue;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}
  
.btn:focus {
    outline: none;
}
  
.btn:hover {
    transform: scale(0.98);
}
  
.btn-back {
    background: #f4f4f4;
    color: #000;
    margin-bottom: 20px;
}
