.nav_list {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 6.66%;
}
.nav_item {
    list-style-type: none;
    text-align: center;
    cursor: pointer;
    min-width: 80px;
}
.nav_item a {
    transition: color ease 0.4s;
}
.nav_item a:hover {
    color: var(--red);
}