 .circle {
    width: 40px;
    height: 40px;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    border-radius: 50%;
    color: #fff;
    font: 700 20px/40px "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    background: linear-gradient(to right,var(--black) 0%,var(--black) 100%);
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    z-index: 20;
    opacity: .3;
 }
 .replacer {
    transition: background 0.2s ease-in-out;
    background: var(--light-white);
    height: 0.125rem;
    margin: 0.3125rem 0;
    border: none;
    padding: 0;
 }
 .content {
    margin: 0 -1.5625rem
 }
 .contacts {
    background: var(--black);
    text-align: center;
    border-radius: 0;
    padding: 0 2.625rem 0 4.125rem;
 }
 .list {
    color: var(--light-white);
    line-height: 1.3125rem;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    text-align: center
 }
 .item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.3125rem 0 0.25rem;
    padding-left: 3.75rem;
    position: relative;
    max-width: 98%
 }
 .data {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
.value {
    margin-left: 10px;
}

@media (max-width: 900px) {
    .group {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .data {
        justify-content: center;
    }
    .header {
        margin-left: 100px !important;
    }
  }
    
  @media (max-width: 700px) {
    .group {
        display: grid;
        grid-template-columns: 1fr;
    }
    .data {
        justify-content: flex-start;
    }
    .header {
        margin-left: 50px !important;
    }
  }

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 200px;
}
.logo {
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 15px;
    display: block;
}
.text {
    margin-left: 10px;
}
.text h4 {
    margin-top: 10px;
}